<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/waffle-grid.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Montserrat|Mystery+Quest|Nosifer" rel="stylesheet">
    <title>HaWe</title>
    <!--Add favicon-->
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
</head>

<body id="page-top">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <div id="content">
        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="#page-top">
                    <h2 class="title"><img class="logo" src="./img/HaWe.png" alt="HaWe" height="30"></h2>
                </a>
                <div class="responsive-nav m-and-higher">
                    <div class="parent-hamburger m-and-lower"><i class="fa fa-bars hamburger" aria-hidden="true"></i></div>
                    <nav class="js-toggled">
                        <ul>
                            <li><a class="page-scroll" href=".about">About</a></li>
                            <li><a class="page-scroll" href=".app">App</a></li>
                            <li><a class="page-scroll" href=".team">Team</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div class="show">
            <div id="particles-js"></div>
            <img class="logo" src="./img/HaWe.png" alt="HaWe" height="100">
            <br>
            <h1 class="ml2">HaWe tracks your productivity!</h1>
            <i class="fa fa-arrow-circle-down fa-2x ml2" aria-hidden="true"></i>
        </div>
        <div class="footer-fixed">
            <div class="center">Made with ❤️ by HaWe's amazing team 2017</div>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix about">
                <article>
                    <header>
                        <h2>HaWe</h2>
                        <hr>
                        <p>What was once the difficult choice between using a notebook, legal pad, a stack of Post-it notes or a dozen of to-do apps to manage your personal to-do list is now the really simple choice  - <span class="penny">HaWe</span>.</p>
                        <p>Managing tasks in the <span class="penny">HaWe</span> is more efficient, more powerful, and simply a better way to be more productive than doing it on paper.</p>
                    </header>
                    <section>
                        <hr>                        
                        <h3>Why HaWe?</h3>
                        <hr>
                        <p><span class="penny">HaWe</span> is easy to use and has a deep thematic in styling.</p>
                        <p>Our app gives you a range of tools for organizing your tasks.</p>
                        <p>Everyone likes competitions. <span class="penny">HaWe</span> allows you to collect badges while you do you planned tasks.</p>
                        <hr>
                    </section>
                    <footer>
                        <h3>Conclusion</h3>
                        <hr>
                        <p>If you are finding planner app than <span class="penny">HaWe</span> is the best choice.</p>
                        <br>
                        <br>
                    </footer>
                </article>
                <aside>
                    <h3>Getting started</h3>
                    <hr>
                    <p>Already know what <span class="penny">HaWe</span> can offer you and ready to start?</p>
                    <p>"Get started" button will open to you the door to the <span class="penny">HaWe's</span> world.</p>
                    <a href="/login">
                        <div class="login-btn center">Get started</div>
                    </a>
                </aside>
            </div>
            <section class="app">
                <section id="features">
                    <div class="grid">
                        <div class="row">
                            <div class="col col-4-of-12 col-m-4-of-4">
                                    <img src="./img/icon-best.svg" alt="Lightning icon">
                                    <h3>Customized -  <span class="count">100</span>%</h3>
                                    <p><span class="penny">HaWe</span> is a customized and stylized to-do app. We will provide theme updates to the every holiday (Halloween, St Patrick's Day, Thanksgiving, Valentine's Day, Christmas, etc.).</p>

                            </div>
                            <div class="col col-4-of-12 col-m-4-of-4">

                                <img src="./img/icon-feather.svg" alt="Feather icon">
                                <h3>Ease of use - <span class="count">100</span>%</h3>
                                <p><span class="penny">HaWe</span> is an app that easy and fast to use while still offering you enough features to keep you organized.</p>

                            </div>
                            <div class="col col-4-of-12 col-m-4-of-4">

                                <img src="./img/icon-simple.svg" alt="Code icon" height="100" />
                                <h3>More than <span class="count">20</span> badges.</h3>
                                <p><span class="penny">HaWe</span> has more than 20 holiday customized reward badges. Add new todos and earn new badges. Try to earn they all to receive the gold status.</p>

                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="login">
                <a href="/login">
                    <div class="login-btn">Get started</div>
                </a>
            </section>
            <section class="team">
                <div class="grid">
                    <h2 class="ml7">
                        <span class="text-wrapper">
                            <span class="letters">Our Team</span>
                        </span>
                    </h2>
                    <div class="row">
                        <div class="col col-3-of-12 col-m-4-of-4">
                            <div class="our-team">
                                <div class="pic">
                                    <ul class="social">
                                        <li><a target="_blank" href="https://github.com/artprofi91" class="fa fa-github"></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/atregubchak/" class="fa fa-linkedin"></a></li>
                                    </ul>
                                    <img src="./img/Art.jpg" alt="Artem">
                                </div>
                                <span class="post">Artem</span>
                                <span class="post">Front End Developer</span>
                            </div>
                        </div>
                        <div class="col col-3-of-12 col-m-4-of-4">
                            <div class="our-team">
                                <div class="pic">
                                    <ul class="social">
                                        <li><a target="_blank" href="https://github.com/ShinyHime" class="fa fa-github"></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/cassandra-claire-villaruel-a9348b97/" class="fa fa-linkedin"></a></li>
                                    </ul>
                                    <img src="./img/Cassandra.jpg" alt="Cas">
                                </div>
                                <span class="post">Cassandra</span>
                                <span class="post">Back End Developer</span>
                            </div>
                        </div>
                        <div class="col col-3-of-12 col-m-4-of-4">
                            <div class="our-team">
                                <div class="pic">
                                    <ul class="social">
                                        <li><a target="_blank" href="https://github.com/HEIGHTSTONIAN" class="fa fa-github"></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/rachel-e-554636144/" class="fa fa-linkedin"></a></li>
                                    </ul>
                                    <img src="./img/rachel.jpg" alt="Rachel">
                                </div>
                                <span class="post">Rachel</span>
                                <span class="post">Front End Developer</span>
                            </div>
                        </div>
                        <div class="col col-3-of-12 col-m-4-of-4">
                            <div class="our-team">
                                <div class="pic">
                                    <ul class="social">
                                        <li><a target="_blank" href="https://github.com/mattsald48" class="fa fa-github"></a></li>
                                    </ul>
                                    <img src="./img/Matt.jpg" alt="Matthew">
                                </div>
                                <span class="post">Matthew</span>
                                <span class="post">Back End Developer</span>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="footer-container">
        </div>
        <a id="to-top" href="#page-top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/DisplayJS/1.2.0/display.min.js" integrity="sha256-6NhJzAUc5b5cUqscNWa10R2rptnhqT0HVxz7wDwMNNs="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/preload.js"></script>

</body>

</html>