<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reset.css"> 
  <link rel="stylesheet" href="css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Montserrat|Mystery+Quest|Nosifer" rel="stylesheet">
  <!--Add favicon-->
  <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
  <title>HaWe</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="back"></div>

<div class="box">
  
  <div class="icon-nav">
    <span id="sign-in"><i class="fa fa-user"></i></span></span>
  <span id="sign-up"><i class="fa fa-pencil"></i></span></span>
  </div>
  
  <div class="sign-in">
    
    <div class="nav">
      <span class="nav-up"><i class="fa fa-pencil"></i></span>
    </div>
    
    <span><i class="fa fa-user"></i></span>
    <form class="loggingin">
      <input id="login-username" type="text" name="username" placeholder="username" onfocus="this.placeholder = '' " onblur="this.placeholder = 'username'">
      <input id="login-password"class="password" name="password" type="password" placeholder="password" onfocus="this.placeholder = '' " onblur="this.placeholder = 'password'">
      <span class="eye" onclick="showPassword()"><i class="fa fa-eye"></i></span>
      <input type="checkbox">
      <label>remember me</label>
      <input type="submit" id="login-btn" value="sign in">
      <p id="forget-btn">forget password</p>
    </form>
    
    <div class="forget">
      <input type="email" placeholder="email address" onfocus="this.placeholder = '' " onblur="this.placeholder = 'email address'">
      <input type="password" placeholder="username" onfocus="this.placeholder = '' " onblur="this.placeholder = 'username'">
      <input type="submit" value="send">
      <span id="close-forget"><i class="fa fa-arrow-left"></i></span>
    </div>
  </div>
  
  <div class="sign-up">
    
    <div class="nav">
      <span class="nav-in"><i class="fa fa-user"></i></span>
    </div>
    
    <span><i class="fa fa-pencil"></i></span>
    <form method="POST" action="/register">
      <input type="text" name="username" placeholder="username" onfocus="this.placeholder = '' " onblur="this.placeholder = 'username'">
      <input type="email" name="email" placeholder="email address" onfocus="this.placeholder = '' " onblur="this.placeholder = 'email address'">
      <input class="password" name="password" type="password" placeholder="password" onfocus="this.placeholder = '' " onblur="this.placeholder = 'password'">
      <span class="eye" onclick="showPasswordUp()"><i class="fa fa-eye"></i></span>
      <input class="password" name="passwordMatch" type="password" placeholder="confirm password" onfocus="this.placeholder = '' " onblur="this.placeholder = 'confirm password'">
      <input class="cassandra" type="submit" value="sign up">
    </form>
    
</div>
  
</div>
  
    <script  src="js/login.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>
