<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="./css/user.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Montserrat|Mystery+Quest|Nosifer" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/waffle-grid.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>HaWe</title>
    <!--Add favicon-->
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
</head>
<body>
    <div class="grid">
        <div class="row">
                <div class="col col-11-of-12">
                    <h1>YOUR BADGES</h1>
                </div>
                <div class="col col-1-of-12">
                        <a href="/app"><span class="fa-stack fa-lg close-button">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                </div>
        </div>
        <div class="row" id="badges">
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="1">
                <img class="badge" src="./img/badges/Halloween-01.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="3">
                <img class="badge" src="./img/badges/Halloween-02.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="5">
                <img class="badge" src="./img/badges/Halloween-03.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="10">
                <img class="badge" src="./img/badges/Halloween-04.png" alt="badge">
            </div>
             <div class="col col-3-of-12 col-m-2-of-4 hide" id="25">
                <img class="badge" src="./img/badges/Halloween-05.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="30">
                <img class="badge" src="./img/badges/Halloween-06.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="35">
                <img class="badge" src="./img/badges/Halloween-07.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="40">
                <img class="badge" src="./img/badges/Halloween-08.png" alt="badge">
            </div>
             <div class="col col-3-of-12 col-m-2-of-4 hide" id="45">
                <img class="badge" src="./img/badges/Halloween-09.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="50">
                <img class="badge" src="./img/badges/Halloween-10.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="55">
                <img class="badge" src="./img/badges/Halloween-11.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="60">
                <img class="badge" src="./img/badges/Halloween-12.png" alt="badge">
            </div>
             <div class="col col-3-of-12 col-m-2-of-4 hide" id="65">
                <img class="badge" src="./img/badges/Halloween-13.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="70">
                <img class="badge" src="./img/badges/Halloween-14.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="75">
                <img class="badge" src="./img/badges/Halloween-15.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="80">
                <img class="badge" src="./img/badges/Halloween-16.png" alt="badge">
            </div>
             <div class="col col-3-of-12 col-m-2-of-4 hide" id="85">
                <img class="badge" src="./img/badges/Halloween-17.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="90">
                <img class="badge" src="./img/badges/Halloween-18.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="95">
                <img class="badge" src="./img/badges/Halloween-19.png" alt="badge">
            </div>
            <div class="col col-3-of-12 col-m-2-of-4 hide" id="100">
                <img class="badge" src="./img/badges/Halloween-20.png" alt="badge">
            </div>
        </div>
    </div>
 <script src="./js/user.js"></script>
</body>
</html>